extends /layout/_application
block body
  div.wrapper-common.wrapper-index
    ul.link_container
      li.link
        a(href="pitch.html") WebAudioAPI でピッチ取得
      li.link
        a(href="shake.html") スマホを振ると音が出る
