extends /layout/_application
block body
  div.wrapper-common.wrapper-shake(data-path="shake")
    // sp
    p.shake.sp SHAKE!!
    div.caution_container.sp
      p.caution このコンテンツは音が出ます。
      p.caution_ok
        button OK
    p.fromSp.sp まずはPCから<br>このサイトを開いてください。
    // pc
    div.soundBtn_container.pc
      p.soundBtn_msg 以下のボタンから音の種類を変えられます。
      - var voice = ["かわいい〜！", "虹コン！虹コン！", "(拍手)"];
      - for (var i=0; i<3; i++){
        p.soundBtn(data-num="#{i}")
          button 1: #{voice[i]} 
      - }
    div.tutorial_container.pc
      p.tutorial スマホの画面から "OK" を押してください。
    div.qr_container.pc
      p.qr_msg このQRコードをスマホから読み込んでください。<br>QRコードリーダは、LINEアプリの「友達を追加」機能の中にも入っています。
      p.qr
    //
      include /include/embed/_debug
